.row.row-grid [class*="col-"] + [class*="col-"] {
    margin-top: 15px;
}

@media (min-width: 1200px) {
    .row.row-grid [class*="col-lg-"] + [class*="col-lg-"] {
        margin-top: 0;
    }
}

@media (min-width: 992px) {
    .row.row-grid [class*="col-md-"] + [class*="col-md-"] {
        margin-top: 0;
    }
}

@media (min-width: 768px) {
    .row.row-grid [class*="col-sm-"] + [class*="col-sm-"] {
        margin-top: 0;
    }
}

.p-1 {
    padding: 1px !important;
    vertical-align: middle !important;
}

.headerlink {
    box-shadow: none !important;
    padding: 0 !important;
    margin: 0 !important;
    font-size: 14px !important;
    font-family: "Open Sans", sans-serif !important;
    text-transform: none !important;
    border: 0px !important;
    line-height: normal !important;
    background-color: lightgrey !important;
    color: black !important;
}

.headerCustom {
    vertical-align: middle !important;
    text-align: center !important;
    background-color: lightgrey !important;
    box-shadow: none !important;
    padding: 0 !important;
    margin: 0 !important;
    font-size: 14px !important;
    font-family: "Open Sans", sans-serif !important;
    text-transform: none !important;
    border: 0px !important;
    line-height: normal !important;
    color:black !important;
}

.colorSaddleBrown {
    background-color: saddlebrown;
    color: white;
}

/* WebKit, Blink, Edge */
.form-control::-webkit-input-placeholder {
    color: #8290a3 !important;
}

/* Mozilla Firefox 4 to 18 */
.form-control:-moz-placeholder {
    color: #8290a3 !important;
}

/* Mozilla Firefox 19+ */
.form-control::-moz-placeholder {
    color: #8290a3 !important;
}

/* Internet Explorer 10-11 */
.form-control:-ms-input-placeholder {
    color: #8290a3 !important;
}

/* Microsoft Edge */
.form-control::-ms-input-placeholder {
    color: #8290a3 !important;
}

.panelapp {
    width: 80%;
    height: 140px;
    float: left;
    border: 1px solid #E6E6E6;
    border-radius: 10px;
    padding: 5px 5px 5px 5px;
    margin-top: 10px;
}

.gradiente2 {
    background-color: black;
}

.panelappic {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 15px;
    height: 80px !important;
}

.panelapptitulo {
    display: block;
    font-size: 16px;
    margin-left: auto;
    margin-left: auto;
    text-align: center;
    margin-top: 3px;
    height: 40px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

.height34 {
    height: 34px !important;
}

.showInlineBlock {
    display:inline-block !important;
}

.input {
    border-radius: 6px;
    margin-bottom: 6px;
    padding: 12px;
    border: 1px solid rgba(50, 50, 93, 0.1);
    height: 44px;
    font-size: 16px;
    width: 100%;
    background: white;
}

.result-message {
    line-height: 22px;
    font-size: 16px;
}

    .result-message a {
        color: rgb(89, 111, 214);
        font-weight: 600;
        text-decoration: none;
    }

.hidden {
    display: none;
}

#card-error {
    color: rgb(105, 115, 134);
    text-align: left;
    font-size: 13px;
    line-height: 17px;
    margin-top: 12px;
}

#card-element {
    border-radius: 4px 4px 0 0;
    padding: 12px;
    border: 1px solid rgba(50, 50, 93, 0.1);
    height: 44px;
    width: 100%;
    background: white;
}

#payment-request-button {
    margin-bottom: 32px;
}

/* Buttons and links */
#submit {
    background-color: black;
    color: #ffffff;
    font-family: Arial, sans-serif;
    border-radius: 0 0 4px 4px;
    border: 0;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    display: block;
    transition: all 0.2s ease;
    box-shadow: 0px 4px 5.5px 0px rgba(0, 0, 0, 0.07);
    width: 100%;
}

    #submit:hover {
        filter: contrast(115%);
    }

    #submit:disabled {
        opacity: 0.5;
        cursor: default;
    }

/* spinner/processing state, errors */
.spinner,
.spinner:before,
.spinner:after {
    border-radius: 50%;
}

.spinner {
    color: #ffffff;
    font-size: 22px;
    text-indent: -99999px;
    margin: 0px auto;
    position: relative;
    width: 20px;
    height: 20px;
    box-shadow: inset 0 0 0 2px;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}

    .spinner:before,
    .spinner:after {
        position: absolute;
        content: "";
    }

    .spinner:before {
        width: 10.4px;
        height: 20.4px;
        background: #5469d4;
        border-radius: 20.4px 0 0 20.4px;
        top: -0.2px;
        left: -0.2px;
        -webkit-transform-origin: 10.4px 10.2px;
        transform-origin: 10.4px 10.2px;
        -webkit-animation: loading 2s infinite ease 1.5s;
        animation: loading 2s infinite ease 1.5s;
    }

    .spinner:after {
        width: 10.4px;
        height: 10.2px;
        background: #5469d4;
        border-radius: 0 10.2px 10.2px 0;
        top: -0.1px;
        left: 10.2px;
        -webkit-transform-origin: 0px 10.2px;
        transform-origin: 0px 10.2px;
        -webkit-animation: loading 2s infinite ease;
        animation: loading 2s infinite ease;
    }